Dear <%= @user.first_name%>,

Your username is : <%= @user.username %>
Your password hint is : <%= @user.password_hint %>

Please use this information to log in : 

http://dellamottram.com:3002/main/login

Thank you,

Your Secret Santa
