table
{
border-collapse:collapse;
}

table, td, th
{
border:1px solid green;
}
th
{
background-color:green;
color:white;
}

td:first-child
{
vertical-align:top;
}

tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}

