table
{
border-collapse:collapse;
}

table, td, th
{
border:1px solid green;
}
th
{
background-color:green;
color:white;
}

tr:nth-child(even) {background: #00BB00}
tr:nth-child(odd) {background: #00FF00}

