<!DOCTYPE html>
<html lan="en">
<head>
  <title>Secret Santa</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap-theme.css">
</head>
<body>

<center>

<br>
<img src="/images/xmas.png" alt="Merry Christmas!">
<br><br><br>

<p style="color: green"><%= flash[:notice] %></p>

<%= @content_for_layout %>

</center>

</body>
</html>
