<html>
<head>
  <title>Secret Santa</title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>

<center>

<br>
<img src="/images/xmas.png" alt="Merry Christmas!">
<br><br><br>

<p style="color: green"><%= flash[:notice] %></p>

<%= @content_for_layout %>

</center>

</body>
</html>
